<body>
  <main>
    <section class="todo-list">
      <div class="todo-card" *ngFor="let todo of tabTodos">
            <input type="checkbox" (change)="isCompleted($event, todo.id)">

          <p> {{ todo.title }} </p>

          <button class="todo-remove" type="button" (click)="deleteTodo(todo)">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
      </div>
    </section>
    <section class="todo-actions">
      <button type="button" [disabled]="disablePrevious()" (click)="previousPage()">Précédent</button>
      <button type="button" [disabled]="disableNext()" (click)="nextPage()">Suivant</button>
    </section>
    <div>
      <button class="add-button" type="button" routerLink="/add">+</button>
    </div>


  </main>
</body>